.container--navbar{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: none;
  height:79px;
}

.navbar.navbar-default.navbar-fixed-top {
  position:fixed !important;
  top:0;
  z-index:11;
}

.block-system-branding-block{
  margin-top:auto;
  margin-bottom:auto;
}

.navbar-brand{
  height:fit-content;
  max-width:300px;
}
.navbar-brand img{
  width:300px;
  height:auto;
}

#main-navigation{
  margin-left:auto;
}

.menu-main{
  margin:auto;
}
.navbar__open-search-control{
  margin:auto;
}

.navbar__open-search-block {
    background-color: #99BDD8;
}

.nav.navbar-nav.main > li > a{
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.nav.navbar-nav.main > li > a:hover{
  color:rgb(0,0,0);
  background-color:inherit;
}

.nav.navbar-nav.main > li > a:active{
  color:rgb(0,0,0);
  background-color:inherit;
}

.expanded.dropdown > a:focus{
  background-color:inherit;
}

.nav.navbar-nav.main > li > a.is-active{
  color:rgb(0,0,0);
  background-color:inherit;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: inherit;
    color: inherit;
}